# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor and IDE files
.vscode/
.idea/

# macOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Backup files
*.bak
*.backup

# Temporary files
*.tmp

# Python environment variables
.env

# Pillow cache files
*.pyc

# Misc
*.swp
